.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(206, 244, 130);
    flex: 1;
}

.content{
    padding: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
}
